Body {
    color: white;
    background: black;
    margin: 2px;
    font-family: "Rubik Wet Paint", system-ui;
}

header {
    border-bottom: solid 3px red;
    padding: 10px;
    font-size: 35px;
    color: red;
}

section {
background:  rgb(208, 184, 122);
padding-bottom: 80px;
padding-top: 80px;
display: flex;
justify-content: center;
}

.chamada-texto { 
margin-right: 5%;
}

h1 {
font-size: 40px;
}

p { 
font-size: 20px;

}
